@charset "UTF-8";
/*Палітра кольорів*/
:root {
  /*Колір основного тексту*/
  --primary-text-color: #757575;
  /*Основний білий*/
  --primary-white-color: #ffffff;
  /*Білий для фону про наші роботи*/
  --secondary-white-color: #f5f5f5;
  /*Білий для фону наша команда*/
  --accessary-white-color: #f5f4fa;
  /*Колір заголовків та навігації*/
  --title-color: #212121;
  /*Чорний колір*/
  --primary-black-color: #000000;
  --alternativ-black-kolor: #212121;
  /*Колір активних елементів та кнопки*/
  --active-btn-color: #188ce8;
  /*Колір акцент*/
  --accent-color: #2196f3;
  /*Фон героя та футера*/
  --primary-beckground-color: #2f303a;
  /*колір бордер*/
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --elements-grey-color: #afb1b8;
  --footer-grey-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-border-color: rgba(33, 33, 33, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Загальні стилі*/
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--timing-function);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.button {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  white-space: nowrap;
}

.current::after {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  content: "";
}

/*Footer*/
.footer {
  background-color: var(--primary-beckground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
    gap: 70px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: start;
  }
}

.footer__contacts {
  display: inline-block;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 0;
  }
}

.footer__logo {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .footer__logo .logo {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__map {
  color: var(--primary-white-color);
}

.footer .link {
  font-style: normal;
}

.footer__list {
  margin-bottom: 60px;
}

.footer__social {
  padding-top: 12px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    padding-top: 0;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid var(--border-header-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: auto;
  }
}

.nav__list .link.current {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.mobile-btn-burger {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-btn-burger {
    display: none;
  }
}
.mobile-btn-burger:hover, .mobile-btn-burger:focus {
  fill: var(--accent-color);
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.contacts__img {
  display: flex;
  justify-content: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts__icon {
  fill: currentColor;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__word {
  color: var(--primary-black-color);
}

.logo__word--white-color {
  color: var(--primary-white-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  z-index: 1;
}
.mobile-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__link {
  display: block;
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  margin-bottom: 32px;
}

.mobile-menu__btn-close {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn-close {
    display: none;
  }
}
.mobile-menu__btn-close:hover, .mobile-menu__btn-close:focus {
  fill: var(--accent-color);
}

.mobile-contacts__item {
  margin-bottom: 34px;
}

.mobile-contacts__tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
}

.mobile-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
}

.mobail-menu__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}

.mobail-menu__social-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

.mailing-form {
  margin-left: auto;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .mailing-form {
    margin: 0;
    padding: 0;
  }
}

.mailing-form__text {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .mailing-form__field {
    display: flex;
    position: relative;
  }
}

.mailing-form__input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.mailing-form__input:focus {
  border-color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .mailing-form__input {
    width: 358px;
    padding-left: 16px;
    margin-right: 12px;
  }
}

.form-btn {
  display: flex;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .form-btn {
    margin: 0;
  }
}

.form-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--elements-grey-color);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--primary-white-color);
}

/*Footer*/
.social__link--bg-color {
  background-color: var(--footer-grey-color);
}

.social__icon--white-color {
  fill: var(--primary-white-color);
}

/*Модальне вікно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  background-color: var(--primary-white-color);
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__btn:hover .modal__icon-close {
  fill: var(--accent-color);
}

.benefits {
  padding-bottom: 0;
  margin-bottom: 60px;
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  max-width: 450px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    min-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    min-width: 270px;
  }
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--accessary-white-color);
}
@media screen and (min-width: 768px) {
  .benefits__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon {
    width: 270px;
    margin-bottom: 30px;
  }
}

.benefits__title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.customers {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--elements-grey-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
}

.customers__icon {
  fill: var(--elements-grey-color);
  transition: fill 250ms var(--timing-function);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--accent-color);
}

/*Форми*/
.response__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.response__label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.response__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  color: var(--title-color);
}

.response__input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 44px;
  font: inherit;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.response__input:hover, .response__input:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--timing-function);
}

.response__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;
  transition: fill 250ms var(--timing-function);
}
.response__input:hover + .response__icon, .response__input:focus + .response__icon {
  fill: var(--accent-color);
}

.response__area {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font: inherit;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
}
.response__area:hover, .response__area:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--timing-function);
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.policy__text {
  font-size: 12px;
  line-height: 1.16;
}

.policy__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.policy__input:checked ~ .policy__checkbox {
  background-image: url(../images/checkbox-checked.svg);
}

.policy__checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox.svg);
}

.policy__link {
  font-size: 12px;
  line-height: 1.16;
  color: var(--accent-color);
}

.response__btn {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.response__btn:hover {
  background: var(--active-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--primary-beckground-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/hero-bg-img-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/hero-bg-img-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/hero-bg-img-768.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/hero-bg-img-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--active-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.team {
  text-align: center;
  background-color: var(--accessary-white-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    justify-content: space-between;
  }
}

.team__item {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
}

.team__img {
  margin: auto;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.works {
  display: none;
  background-color: var(--primary-white-color);
  text-align: center;
  padding-bottom: 94px;
}

.works__list {
  display: flex;
  justify-content: space-between;
}

.works__item {
  position: relative;
}

.works__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}

.works__img {
  width: 370px;
}

.filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 46px;
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  color: var(--title-color);
  background-color: var(--accessary-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px transparent;
  border-radius: 4px;
  transition: color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.projects__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms var(--timing-function);
}
.projects__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__overlay {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects__img {
  width: 370px;
}

.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}
.projects__link:hover .projects__description {
  transform: translateY(0);
}

.projects__meta {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}/*# sourceMappingURL=main.css.map */