@import './utils/variables';
@import './base/general';
@import './components/footer';
@import './components/header';
@import './components/logo';
@import './components/mailing-form';
@import './components/social';
@import './components/index/backdrop';
@import './components/index/benefits';
@import './components/index/costomers';
@import './components/index/forms';
@import './components/index/hero';
@import './components/index/team';
@import './components/index/works';
@import './components/portfolio/filter';
@import './components/portfolio/projects';