/*Footer*/
.footer {
	background-color: var(--primary-beckground-color);

	padding-top: 60px;
	padding-bottom: 60px;
}
.footer__container {
	text-align: center;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media screen and (min-width: 1200px) {
		justify-content: space-between;
		gap: 70px;
		flex-wrap: nowrap;
	}

	@media screen and (min-width: 1200px) {
		text-align: start;	
	}
	
}
.footer__contacts {
	display: inline-block;
	align-items: center;

	@media screen and (min-width: 768px) {
		margin-right: 165px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 0;	
	}
}
.footer__logo {
	margin-bottom: 28px;

	@media screen and (min-width: 768px) {
		.logo {
		margin-right: 0;
		}
	}
	
	@media screen and (min-width: 1200px) {
		margin-bottom: 20px;	
	}
}
.footer__item:not(:last-child) {
	margin-bottom: 12px;
	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;	
	}
}
.footer__map {
	color: var(--primary-white-color);
}
.footer .link {
	font-style: normal;
}
.footer__list {
	margin-bottom: 60px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
	}
}
.footer__social {
	padding-top: 12px;
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
		padding-top: 0;
	}
	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
	}
}
.footer__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	align-items: center;
	text-transform: uppercase;
	color: var(--primary-white-color);
	margin-bottom: 20px;
}