
.header {
	display: flex;
	align-items: center;
	min-height: 60px;
}
.header__container{

}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: none;
}
.nav__list .link.current {
	color: var(--accent-color);
}
.nav__item:not(:last-child) {

}
.nav__link {

}

.contacts {
	display: none;
}
.contacts__item:not(:last-child) {
	margin-right: 50px;
}
.contacts__link{
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
}
.contacts__img {
	display: flex;
	justify-content: center;
	width: 16px;
	height: 12px;
	margin-right: 10px;
}
.contacts__icon {
	fill: currentColor;
}
