.logo {
	margin-right: 93px;
	color: var(--accent-color);
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}
.logo__word{
	color: var(--primary-black-color);
}
.logo__word--white-color {
	color: var(--primary-white-color);
}