.mailing-form {
	margin-left: auto;
	padding-top: 12px;

	@media screen and (min-width: 768px) {
		margin: 0;
		padding: 0;
	}
}
.mailing-form__text {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.14;
	align-items: center;
	text-transform: uppercase;
	color: var(--primary-white-color);
}
.mailing-form__field {

	@media screen and (min-width: 1200px) {
		display: flex;
		position: relative;
	}
}
.mailing-form__input {
	width: 450px;
	height: 50px;
	padding-left: 16px;
	margin-bottom: 20px;
	color: var(--primary-white-color);
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	transition:	border-color 250ms var(--timing-function);

	&:focus {
		border-color: var(--primary-white-color);
	}

	@media screen and (max-width: 479px) {
		width: calc(100% - 30px);
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
		padding-left: 16px;
		margin-right: 12px;
	}
}
.form-btn {
	display: flex;
	text-align: center;
	width: 200px;
	height: 50px;
	padding: 10px 28px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border-radius: 4px;

	@media screen and (min-width: 1200px) {
		margin: 0;
	}
}
.form-btn__icon {
	margin-left: 10px;
	fill: currentColor;
}