.mobile-btn {
	display: inline-flex;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}
.mobile-btn .mobile-btn__icon-close {
	display: none;
}
.mobile-btn.is-open .mobile-btn__icon-close {
	display: block;
}
.mobile-btn.is-open .mobile-btn__icon-menu {
	display: none;
}
.is-open {
	
}