.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter__item:not(:last-child) {
	margin-right: 8px;
}
.filter__btn {
	padding: 6px 22px;
	color: var(--title-color);
	background-color: var(--accessary-white-color);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;

	border: 1px transparent;
	border-radius: 4px;

	transition: color 250ms var(--timing-function), 
	box-shadow 250ms var(--timing-function),
	background-color 250ms var(--timing-function);

	&:hover,
	&:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);	

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
.projects {
	display: flex;
	flex-wrap: wrap;
}
.projects__item {
	width: calc((100% - 60px) / 3);
}
.projects__item:not(:nth-child(3n)) {
	margin-right: 30px;
}