.projects__item:not(:nth-last-child(-n+3)) {
	margin-bottom: 30px;
}
.projects__title {
	margin-bottom: 4px;
	color: var(--title-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
}
.projects__link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: box-shadow 250ms var(--timing-function);

	&:hover{
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}
.projects__overlay {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.projects__img {
	width: 370px;
}
.projects__description {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(101%);

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	padding: 63px 24px;
	color: var(--primary-white-color);
	background-color: rgba(33, 150, 243, 0.9);

	transition: transform 250ms var(--timing-function);

	.projects__link:hover & {
		transform: translateY(0);
	}
}
.projects__meta {
	padding: 20px 24px;
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
}