*,
*::before,
*::after {
	box-sizing: border-box;
}

/*Загальні стилі*/
body {
	color: var(--primary-text-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}
h1,h2,h3,h4,h5,h6,p,ul {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.list {
	list-style-type: none;
}

.link {
	text-decoration: none;
	color: inherit;
	transition: color 250ms var(--timing-function);

	&:hover,
	&:focus {
	color: var(--accent-color);
}
	
}

.button {
	cursor: pointer;
}
.section{
	padding-top: 94px;
	padding-bottom: 94px;
}
.section__title {
	color: var(--title-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	margin-bottom: 50px;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	/* outline: 2px solid green; */
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
	white-space: nowrap;
}
.current::after {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 4px;
	background-color: currentColor;
	border-radius: 2px;

	content: "";
}