.customers {
	text-align: center;
	padding-top: 94px;
	padding-bottom: 94px;
}
.customers__list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.customers__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--elements-grey-color);
	border-radius: 4px;
	transition: border-color 250ms var(--timing-function);

	&:hover,
	&:focus {
	border-color: var(--accent-color);
}
}
.customers__icon {
	fill: var(--elements-grey-color);
	transition: fill 250ms var(--timing-function);

	.customers__link:hover &,
	.customers__link:focus & {
	fill: var(--accent-color);
}
}

