.works {
	background-color: var(--primary-white-color);

	text-align: center;
	padding-bottom: 94px;
}
.works__list {
	display: flex;
	justify-content: space-between;
}
.works__item {
	position: relative;
}
.works__title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	color: var(--primary-white-color);
	background-color: rgba(47, 48, 58, 0.8);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
}
.works__img {
	width: 370px;
}